@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
// font-family: 'Barlow', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
// font-family: 'Fraunces', serif;

$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate-cyan: hsl(168, 34%, 41%);
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

h1, h2 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

html {
    display: grid;
    place-items: center;
}

body {
    width: 1440px;
    @media screen and (max-width: 800px) {
        width: 375px;
    }
}

header {
    width: 100% ;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    .wrapper {
        width: 1440px;
        display: flex;
        align-items: center;
        margin: auto;
        padding: 2rem 3rem;
    }
    nav {
        margin-left: auto;
        a {
            color: $white;
            padding-right: 3rem;
            text-decoration: none;
        }
    }
    button {
        height: 3rem;
        width: 7rem;
        border-radius: 1.5rem;
        background-color: $white;
        border: none;
        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $very-dark-desaturated-blue;
            font-family: 'Fraunces', serif;
            font-weight: 900;
        }
    }
    .hamburger-menu {
        display: none;
    }
    @media screen and (max-width: 800px) {
        .wrapper {
            width: 375px;
            padding: 2rem 1.5rem;
        }
        .hamburger-menu {
            margin-left: auto;
            display: block;
        }
        nav, button {
            display: none;
        }
    }
}

div.intro {
    width: 100%;
    position: relative;
    z-index: -1;
    img {
        width: 100%;
    }
    h1 {
        position: absolute;
        text-transform: uppercase;
        font-size: 4rem;
        letter-spacing: .5rem;
        color: $white;
        top: 20%;
        width: 100%;
        text-align: center;
        @media screen and (max-width: 800px) {
            font-size: 2.5rem;
            top: 25%;
        }
    }
}

article {
    h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    p {
        line-height: 2rem;
    }
}

section#sunnyside-culture {
    margin-top: -3px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    img {
        width: 100%;
    }
    article#brand-transformation, article#highlight {
        align-self: center;
        width: 56%;
        margin: auto;
        h2 {
            font-size: 2.5rem;
        }
        p {
            color: $very-dark-grayish-blue;
            margin-bottom: 2rem;
        }
        a {
            color: $very-dark-desaturated-blue;
            font-family: 'Fraunces', serif;
            font-weight: 900;
            text-transform: uppercase;
            text-decoration: none;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                display: block;
                height: .5rem;
                width: 8rem;
                top: 70%;
                left: -5%;
                border-radius: .25rem;
                opacity: .3;
            }
        }
    }
    article#brand-transformation a:after {
        background-color: $yellow;
    }
    article#highlight a:after {
        background-color: $soft-red;
    }
    article#graphic-design, article#photography {
        position: relative;
        .article-text {
            position: absolute;
            width: 47%;
            text-align: center;
            top: 65%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    article#graphic-design {
        color: $dark-desaturated-cyan;
    }
    article#photography {
        color: $dark-blue;
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: unset;
        article#brand-transformation, article#highlight {
            margin: unset;
            width: 100%;
            text-align: center;
            padding: 4rem 2rem;
            h2 {
                font-size: 2rem;
            }
        }
        article#graphic-design, article#photography {
            .article-text {
                width: 100%;
                top: 65%;
                padding: 0 1rem;
            }
        }
    }
}

section#client-testimonials {
    display: grid;
    place-items: center;
    height: 100vh;
    h2 {
        color: $grayish-blue;
        text-transform: uppercase;
        letter-spacing: .3rem;
    }
    .testimonials-container {
        display: grid;
        place-items: center;
        grid-auto-flow: column;
        width: 72%;
        gap: 3rem;
    }
    .testimonial {
        text-align: center;
        line-height: 2rem;
        img {
            width: 6rem;
            border-radius: 50%;
            margin-bottom: 3rem;
        }
        p {
            color: $very-dark-grayish-blue;
        }
        .client-info {
            margin-top: 3rem;
            &_name {
                color: $very-dark-desaturated-blue;
                font-family: 'Fraunces', serif;
                font-weight: 900;
                font-size: 1.2rem;
            }
            &_position {
                color: $grayish-blue;
            }
        }
    }

    @media screen and (max-width: 800px) {
        height: auto;
        padding: 3rem 2.5rem 5rem;
        h2 {
            font-size: 1rem;
            margin-bottom: 4rem;
        }
        .testimonials-container {
            grid-auto-flow: row;
            width: 100%;
            gap: 4rem;
        }
        .testimonial { 
            img {
                margin-bottom: 1rem;
            }
            .client-info {
                margin-top: 1rem;
            }
        }
    }
}

section#pictures {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    img {
        width: 100%;
        height: auto;
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(2, 50%);
    }
}

footer {
    background-color: $dark-moderate-cyan;
    color: $dark-desaturated-cyan;
    display: grid;
    place-items: center;
    & > img {
        margin: 4rem 0;
        width: 10rem;
    }
    nav {
        display: flex;
        gap: 3rem;
        a {
            color: $dark-desaturated-cyan;
            text-decoration: none;
        }
    }
    .contact-icons {
        margin: 4rem 0;
        display: flex;
        gap: 2rem;
    }
}