@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

h1, h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

html {
  display: grid;
  place-items: center;
}

img {
  vertical-align: middle;
}

body {
  width: 1440px;
}
@media screen and (max-width: 800px) {
  body {
    width: 375px;
  }
}

header {
  width: 100%;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
header .wrapper {
  width: 1440px;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 2rem 3rem;
}
header nav {
  margin-left: auto;
}
header nav a {
  color: white;
  padding-right: 3rem;
  text-decoration: none;
}
header button {
  height: 3rem;
  width: 7rem;
  border-radius: 1.5rem;
  background-color: white;
  border: none;
}
header button a {
  text-decoration: none;
  text-transform: uppercase;
  color: #23303e;
  font-family: "Fraunces", serif;
  font-weight: 900;
}
header #hamburger-menu {
  display: none;
}
@media screen and (max-width: 800px) {
  header .wrapper {
    width: 375px;
    padding: 2rem 1.5rem;
  }
  header #hamburger-menu {
    margin-left: auto;
    display: block;
  }
  header nav, header button {
    display: none;
  }
}

div.intro {
  width: 100%;
  position: relative;
  z-index: -1;
}
div.intro img {
  width: 100%;
}
div.intro h1 {
  position: absolute;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  color: white;
  top: 20%;
  width: 100%;
  text-align: center;
}
div.intro h1:after {
  content: "";
  background-image: url("/images/icon-arrow-down.svg");
  position: absolute;
  display: block;
  top: 250%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  width: 36px;
  height: 114px;
}
@media screen and (max-width: 800px) {
  div.intro h1 {
    font-size: 2.5rem;
    top: 25%;
  }
  div.intro h1:after {
    top: 150%;
  }
}

article h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
article p {
  line-height: 2rem;
}

section#sunnyside-culture {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
section#sunnyside-culture img {
  width: 100%;
}
section#sunnyside-culture article#brand-transformation, section#sunnyside-culture article#highlight {
  align-self: center;
  width: 56%;
  margin: auto;
}
section#sunnyside-culture article#brand-transformation h2, section#sunnyside-culture article#highlight h2 {
  font-size: 2.5rem;
}
section#sunnyside-culture article#brand-transformation p, section#sunnyside-culture article#highlight p {
  color: #5a636c;
  margin-bottom: 2rem;
}
section#sunnyside-culture article#brand-transformation a, section#sunnyside-culture article#highlight a {
  color: #23303e;
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
section#sunnyside-culture article#brand-transformation a:after, section#sunnyside-culture article#highlight a:after {
  content: "";
  position: absolute;
  display: block;
  height: 0.5rem;
  width: 8rem;
  top: 70%;
  left: -5%;
  border-radius: 0.25rem;
  opacity: 0.3;
}
section#sunnyside-culture article#brand-transformation a:after {
  background-color: #fad400;
}
section#sunnyside-culture article#highlight a:after {
  background-color: #fe7867;
}
section#sunnyside-culture article#graphic-design, section#sunnyside-culture article#photography {
  position: relative;
}
section#sunnyside-culture article#graphic-design .article-text, section#sunnyside-culture article#photography .article-text {
  position: absolute;
  width: 47%;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}
section#sunnyside-culture article#graphic-design {
  color: #25564b;
}
section#sunnyside-culture article#photography {
  color: #19536b;
}
@media screen and (max-width: 800px) {
  section#sunnyside-culture {
    grid-template-columns: unset;
  }
  section#sunnyside-culture article#brand-transformation, section#sunnyside-culture article#highlight {
    margin: unset;
    width: 100%;
    text-align: center;
    padding: 4rem 2rem;
  }
  section#sunnyside-culture article#brand-transformation h2, section#sunnyside-culture article#highlight h2 {
    font-size: 2rem;
  }
  section#sunnyside-culture article#graphic-design .article-text, section#sunnyside-culture article#photography .article-text {
    width: 100%;
    top: 65%;
    padding: 0 1rem;
  }
}

section#client-testimonials {
  display: grid;
  place-items: center;
  padding: 8rem 0;
}
section#client-testimonials h2 {
  color: #a7abae;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 6rem;
}
section#client-testimonials .testimonials-container {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  width: 72%;
  gap: 3rem;
}
section#client-testimonials .testimonial {
  text-align: center;
  line-height: 2rem;
}
section#client-testimonials .testimonial img {
  width: 6rem;
  border-radius: 50%;
  margin-bottom: 3rem;
}
section#client-testimonials .testimonial p {
  color: #5a636c;
}
section#client-testimonials .testimonial .client-info {
  margin-top: 3rem;
}
section#client-testimonials .testimonial .client-info_name {
  color: #23303e;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.2rem;
}
section#client-testimonials .testimonial .client-info_position {
  color: #a7abae;
}
@media screen and (max-width: 800px) {
  section#client-testimonials {
    height: auto;
    padding: 3rem 2.5rem 5rem;
  }
  section#client-testimonials h2 {
    font-size: 1rem;
    margin-bottom: 4rem;
  }
  section#client-testimonials .testimonials-container {
    grid-auto-flow: row;
    width: 100%;
    gap: 4rem;
  }
  section#client-testimonials .testimonial img {
    margin-bottom: 1rem;
  }
  section#client-testimonials .testimonial .client-info {
    margin-top: 1rem;
  }
}

section#pictures {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
section#pictures img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 800px) {
  section#pictures {
    grid-template-columns: repeat(2, 50%);
  }
}

footer {
  background-color: #458c7e;
  color: #25564b;
  display: grid;
  place-items: center;
}
footer > img {
  margin: 4rem 0;
  width: 10rem;
}
footer nav {
  display: flex;
  gap: 3rem;
}
footer nav a {
  color: #25564b;
  text-decoration: none;
}
footer .contact-icons {
  margin: 4rem 0;
  display: flex;
  gap: 2rem;
}

#modal {
  width: 330px;
  display: flex;
  opacity: 0;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: -10%;
  transform: translateX(-50%);
  background-color: white;
  text-align: center;
  line-height: 3rem;
  padding: 1rem 0;
  transition: all 0.3s ease;
}
#modal a {
  text-decoration: none;
  color: #818498;
}
#modal button {
  margin: 1rem 0;
  height: 3rem;
  width: 7rem;
  border-radius: 1.5rem;
  background-color: #fad400;
  border: none;
  align-self: center;
}
#modal button a {
  text-decoration: none;
  text-transform: uppercase;
  color: #23303e;
  font-family: "Fraunces", serif;
  font-weight: 900;
}
#modal:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-top: 15px solid transparent;
  border-right: 15px solid white;
  border-bottom: 15px solid white;
  position: absolute;
  left: 100%;
  top: -29px;
  transform: translateX(-100%);
}
@media screen and (max-width: 800px) {
  #modal.open {
    display: flex;
    opacity: 1;
    top: 15%;
  }
}

/*# sourceMappingURL=style.css.map */
